/*Allgemein CSS*/
* {
    font-family: Arial, Helvetica, sans-serif; 
    margin:auto;
    padding: auto;
}

/*CSS Navigations Leiste alle Seiten*/
nav {
    background-color: rgb(0, 187, 255);
}

/*CSS für Karten von tierseite.html*/
.card{
    width: 13rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.card-text {
    font-size: 9pt;
}
.card-title{
    font-size: 14pt;
}
.card-img-top {
    width: 204px;
    height: 150px;
}


/*Styling von Paragraphen*/
p {
    font-size:14pt;
    color:black;
}

/*Footer Styling*/
#footer-text {
    background-color: rgb(0, 187, 255);
}

/*Divider Styling*/
.divider {
    height: 3rem;
    border: solid white;
    border-width: 1px 0;
}

.divider-a {
    height:1.5rem;
    border: solid white;
    border-width: 1px 0;
}

.divider-b {
    height: 4rem;
    border: solid white;
    border-width: 1px 0;
}

/*Styling für die Tier Bilder*/
#tier {
    width: 500px;
    height: 300px;
}

/*Styling H2 Tag*/

h2 {
    color:darkblue;
    font-size: 30pt;
}