/*Allgemein CSS*/
* {
    font-family: Arial, Helvetica, sans-serif; 
    margin:auto;
    padding: auto;
}

/*CSS Navigations Leiste alle Seiten*/
nav {
    background-color: rgb(0, 187, 255);
}

.navbar-brand{
    font-size: 18pt;
    margin-left: 170px;
}

.nav-link {
    font-size:15pt;
    margin-right:70px;
}

/*CSS für Karten von tierseite.html*/
.card{
    width: 13rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.card-text {
    font-size: 9pt;
}
.card-title{
    font-size: 14pt;
}
.card-img-top {
    width: 204px;
    height: 150px;
}


/*Styling von Paragraphen*/
p {
    font-size:14pt;
    color:black;
}

/*Footer Styling*/
#footer-text {
    background-color: rgb(0, 187, 255);
}

/*Divider Styling*/
.divider {
    height: 3rem;
    border: solid white;
    border-width: 1px 0;
}

.divider-a {
    height:1.5rem;
    border: solid white;
    border-width: 1px 0;
}

.divider-b {
    height: 4rem;
    border: solid white;
    border-width: 1px 0;
}

/*Styling für Bilder*/
#tier {
    width: 500px;
    height: 300px;
}

#titelbild {
width: 400px;
height: 320px;
}

/*Styling H2 Tag*/

h2 {
    color: black;
    font:bold;
    font-size: 28pt;
}

/*Styling für Text*/
#tiertext {
    margin-left: 100px;
    margin-right: 100px;
}
/*Styling für Google Maps Einbindung*/
iframe {
    width:600px ;
    height:450px;
    border:0;
    margin-left: 350px;
}

/*Styling für verschachtelte Liste*/
li {
    font-size:13pt;
}
